.container {
  display: flex;
  min-width: 500px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 400px;
  background-color: yellow;
}

.grid div {
  width: 20px;
  height: 20px;
}

.tetromino {
  background-color: blue;
}

.mini-grid {  
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  background-color: yellow;
}

.mini-grid div {
  width: 20px;
  height: 20px;
}